<article class="@@articleClass">
  <image class="img2" src="@@imageadalaber" alt="@@alternativetext"></image>
  <div class="@@container">
    <h3 class="@@title">@@name</h3>
    <p class="@@adalaberdescription">@@description</p>
    <ul class="@@logos">
      <li><a href="@@link-twitter" target="_blank"><i class="fab fa-twitter colorlogo">•</i></a></li>
      <li><a href="@@link-linkedin" target="_blank"><i class="fab fa-linkedin-in colorlogo" target="_blank">•</i></a>
      </li>
      <li><a href="@@link-github" target="_blank"><i class="fab fa-github-alt colorlogo">•</i></a>
      </li>
      <li><a href="@@link-mail" target="_blank"><i class="fas fa-envelope colorlogo"></i></a></li>
    </ul>
  </div>

</article>