<footer>
  <div class="container-footer">
    <small class="copyright">We-can-code-it-&copy; 2020 </small>
    <ul class="footer">
      <li class="footer-list">
        <a
          href="#ir-a-equipo"
          class="link-footer"
          title="haga-click-aqui-para-ir-a-equipo"
          >Equipo</a
        >
      </li>

      <li class="footer-list">
        <a
          href="#ir-a-quienes-somos"
          class="link-footer"
          title="haga-click-aqui-para-ir-a-quines-somos"
          >Quienes somos</a
        >
      </li>

      <li class="footer-list">
        <a
          href="https://beta.adalab.es/project-promo-l-module-1-team-3/contact.html"
          class="link-footer"
          title="haga-click-aqui-para-ir-a-contecto"
          >Contacto
        </a>
      </li>
    </ul>

    <a href="https://adalab.es/" target="_blank"
      ><img
        class="img-logo"
        src="./assets/images/logo-adalab.png"
        alt="logo Adalab"
        title="haga-click-aqui-para-ir-a-adalab"
      />
    </a>
  </div>
</footer>
