<header class="header" id="we-can-code-it">
  <h1 class="nameofgroup">
    <a href="./index.html#we-can-code-it" class="link">WE CAN CODE IT</a>
  </h1>
  <nav class="nav-class">
    <ul class="headercontainer">
      <li class="header-list">
        <a href="./index.html#ir-a-equipo" class="link"> Equipo </a>
      </li>
      <li class="header-list">
        <a href="./index.html#ir-a-quienes-somos" class="link"
          >Quienes somos
        </a>
      </li>
      <li class="header-list">
        <a
          href="https://beta.adalab.es/project-promo-l-module-1-team-3/contact.html"
          class="link"
        >
          Contacto
        </a>
      </li>
    </ul>
  </nav>
</header>
