<header class="header" id="we-can-code-it">
  <h1 class="header__name">
    <a href="index.html#we-can-code-it" class="link">WE CAN CODE IT </a>
  </h1>
  <nav class="header__nav">
    <ul class="header__nav--ul">
      <li class="header-list">
        <a href="index.html#ir-a-equipo" class="link"> Equipo </a>
      </li>
      <li class="header-list">
        <a href="index.html#ir-a-quienes-somos" class="link">Quienes somos </a>
      </li>
      <li class="header-list">
        <a href="contact.html" class="link"> Contacto </a>
      </li>
    </ul>
  </nav>
</header>
