<section class="teamcontainer" id="ir-a-equipo">
  <div class="team">
    <h2 class="team__title">Equipo</h2>
    <p class="team__text">
      Somos un grupo de mujeres jóvenes que hemos decidido dar un giro a
      nuestras vidas y aceptar el reto de convertirnos en programadoras
      front-end. Como dice nuestro lema: “If you can dream it, we can code it”,
      y si aún no, pronto podremos.
    </p>

    <p class="team__text--p2">
      La flexibilidad ante el cambio y el interés por el aprendizaje continuo
      nos han traído hasta aquí, y estamos seguras de que nos acompañarán a
      todos aquellos sitios a los que aún estamos por llegar.
    </p>
    
  </div>
  
    <section class="strenght">
      <div class="strenght__square"></div>
      <h3 class="strenght__title">Fortalezas</h3>
      <p class="strenght__text">
        Procedemos de ámbitos laborales muy distintos, lo cual nos da una visión más amplia de la realidad y nos permite aprender día a día las unas de las otras. Nos une la inquietud por el código y la firme decisión de reprogramar nuestro futuro laboral. Con pasión, ganas y mucho esfuerzo recorreremos este trepidante camino que no hemos hecho más que comenzar.
      </p>
    </section>

    <section class="weakness">
      <h3 class="weakness__title">Debilidades</h3>
      <p class="weakness__text">
        No tenemos ninguna debilidad, nosotras las consideramos oportunidades de mejora, al igual que en cualquier organización existen mejoras aplicables al quehacer cotidiano. Por tanto, en la actualidad en la que el cambio ya no constituye un concepto novedoso, aplicamos la mejora continua, es decir, la búsqueda de la perfección a través de mejoras graduales y sostenidas.
      </p>
    </section>
  </div>
</section>
