<section class="teamcontainer" id="ir-a-equipo">
  <div class="team">
    <h2 class="team__title">Equipo</h2>
    <p class="team__text">
      Somos un grupo de mujeres jóvenes que hemos decidido dar un giro a
      nuestras vidas y aceptar el reto de convertirnos en programadoras
      front-end. Como dice nuestro lema: “If you can dream it, we can code it”,
      y si aún no, pronto podremos.
    </p>

    <p class="team__text--p2">
      La flexibilidad ante el cambio y el interés por el aprendizaje continuo
      nos han traído hasta aquí, y estamos seguras de que nos acompañarán a
      todos aquellos sitios a los que aún estamos por llegar.
    </p>
    <div class="team__square"></div>
  </div>
  <div class="swcontainer">
    <section class="swcontainer__strenght">
      <h3 class="swcontainer__strenght--title">Fortalezas</h3>
      <p class="swcontainer__strenght--text">
        Somos cuatro chicas de diferentes profesiones que nos une el “gusanillo”
        por el código, que estamos decididas a reprogramar nuestro futuro
        laboral. Con pasión, ganas y mucho esfuerzo recorreremos este trepidante
        camino.
      </p>
    </section>

    <section class="swcontainer__weakness">
      <h3 class="swcontainer__weakness--title">Debilidades</h3>
      <p class="swcontainer__weakness--text">
        En realidad no tenemos ninguna debilidad, nosotras las consideramos
        oportunidades de mejora, al igual que en cualquier organización existen
        mejoras aplicables al quehacer cotidiano. Por tanto, en la actualidad en
        donde el cambio ya no constituye un concepto novedoso, aplicamos la
        mejora continua, es decir, la búsqueda de la perfección a través de
        mejoras graduales y sostenidas.
      </p>
    </section>
  </div>
</section>
