<section id="ir-a-equipo">
    <div class="team-container">
      <h2 class="team-title">Equipo</h2>
      <p class="team-text">
        Somos un grupo de mujeres jóvenes que hemos decidido dar un giro a
        nuestras vidas y aceptar el reto de convertirnos en programadoras
        front-end. Como dice nuestro lema: “If you can dream it, we can code
        it”, y si aún no, pronto podremos.
      </p>

      <p class="team-text team-p2">
        La flexibilidad ante el cambio y el interés por el aprendizaje
        continuo nos han traído hasta aquí, y estamos seguras de que nos
        acompañarán a todos aquellos sitios a los que aún estamos por
        llegar.
      </p>
      <div class="team-square"></div>
    </div>
    <div class="sw-container">
      <section class="s-container">
        <h3 class="sw-title">Fortalezas</h3>
        <p class="s-text">
          Somos cuatro chicas de diferentes profesiones que nos une el
          “gusanillo” por el código, que estamos decididas a reprogramar
          nuestro futuro laboral. Con pasión, ganas y mucho esfuerzo
          recorreremos este trepidante camino.
        </p>
      </section>

      <section class="w-container">
        <h3 class="sw-title">Debilidades</h3>
        <p class="w-text">
          En realidad no tenemos ninguna debilidad, nosotras las
          consideramos oportunidades de mejora, al igual que en cualquier
          organización existen mejoras aplicables al quehacer cotidiano. Por
          tanto, en la actualidad en donde el cambio ya no constituye un
          concepto novedoso, aplicamos la mejora continua, es decir, la
          búsqueda de la perfección a través de mejoras graduales y
          sostenidas.
        </p>
      </section>
    </div>
  </section>