* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.full-container {
  width: 100%;
  background-color: var(--white);
}

.link {
  color: white;
  transition: color ease 0.5s;
  display: inline-flex;
  text-decoration: none;
  &:hover {
    color: $aqua;
  }
}