* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.full-container {
  width: 100%;
  background-color: var(--white);
}

.link {
  color: white;
  transition: color ease 0.5s;
  display: inline-flex;
  text-decoration: none;
  &:hover {
    color: $black;
    text-decoration: underline;
  }
}
.link-footer {
  color: $dark-grey;
  text-decoration: none;
  transition: color ease 0.7s;
  &:hover {
    background-color: grey;
  }
}
