/*footer*/
.container-footer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: solid 1px #b8b8b9;
  color: $color-bg;
  @media all and (min-width: 768px) {
    padding: 30px 45px 56px 45px;
    height: 170px;
    justify-content: flex-start;
  }
  @media all and (min-width: 1200px) {
    padding: 30px 138px 51px 138px;
    height: 161px;
  }
}
.copyright {
  margin: 30px 0 20px 0;
  display: flex;
  width: 172px;
  height: 20px;
  width: 100%;
  font-family: $font-paragraph;
  justify-content: center;
  align-items: center;
  font-size: 0.875rem;
  line-height: 1.43;
  text-align: center;
  color: $cool-grey;
  @media all and (min-width: 768px) {
    width: 50%;
    justify-content: start;
    margin: 0 0 10px 0;
  }
}

.footer {
  display: flex;
  width: 100%;
  margin: 0 0 30px 0;
  flex-direction: column;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  opacity: 0.75;
  font-family: $font-paragraph;
  font-size: 0.875rem;
  font-weight: 540;
  line-height: 1.43;
  text-align: center;
  color: $dark-grey;

  @media all and (min-width: 768px) {
    width: 50%;
    margin-bottom: 0;
    align-items: flex-end;
  }

  .footer-list {
    display: flex;
    justify-content: center;
    width: 114px;
    list-style-type: none;
    text-transform: uppercase;
    @media all and (min-width: 768px) {
      width: 50%;
      justify-content: flex-end;
      line-height: 2.14;
    }
  }

  .link-footer {
    color: $dark-grey;
    text-decoration: none;
    transition: color ease 0.5s;
    &:hover {
      color: $black;
    }
  }
}
.img-logo {
  height: 45px;
  margin-bottom: 45px;
  @media all and (min-width: 768px) {
    transform: translate(0px, -45px);
  }
}
.img-logo2 {
  height: 45px;
}
