#ir-a-equipo {
  scroll-margin-top: 133px;
  @media all and (min-width: 768px) {
    scroll-margin-top: 88px;
  }
}

.teamcontainer {
  width: 100%;
  height: 100%;
  background-color: $back-grey;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 39% 31% 30%;
  @media all and (min-width: 768px) {
    grid-template-columns: 50% 50%;
    grid-template-rows: 45% 55%;
  }
  @media all and (min-width: 1200px) {
    grid-template-rows: 50% 50%;
  }
  .team {
    width: 100%;
    padding: 40px 15px 0 15px;
    display: flex;
    flex-direction: column;
    background-color: $white;
    justify-content: center;
    align-items: center;
    grid-column: 1/2;
    grid-row: 1/2;
    @media all and (min-width: 768px) {
      padding: 45px 45px 30px 45px;
      margin: 0;
      grid-column: 1/3;
      grid-row: 1/2;
    }
    @media all and (min-width: 1200px) {
      padding: 45px 299px 60px 300px;
      margin: 0;
    }
    &__title {
      font-family: $font-title;
      font-size: 1.5rem;
      font-weight: 500;
      line-height: 45px;
      color: $blue-green;
      text-transform: uppercase;
      @media all and (min-width: 768px) {
        margin-bottom: 15px;
      }
    }

    &__text {
      font-family: $font-paragraph;
      font-size: 1rem;
      line-height: 24px;
      text-align: center;
      color: $dark-grey;

      &--p2 {
        font-family: $font-paragraph;
        font-size: 1rem;
        line-height: 24px;
        text-align: center;
        color: $dark-grey;
        margin: 10px 0 0 0;
      }
    }
  }

  .strenght {
    background-color: $back-grey;
    grid-column: 1/2;
    grid-row: 2/3;
    padding: 30px 15px 30px 15px;
    @media all and (min-width: 768px) {
      grid-column: 1/2;
      grid-row: 2/3;
      padding: 45px 15px 60px 45px;
    }
    @media all and (min-width: 1200px) {
      padding: 45px 22.5px 60px 138px;
    }

    &__square {
      box-sizing: border-box;
      width: 30px;
      height: 30px;
      position: absolute;
      left: 50%;
      transform: translate(-50%, -150%) rotate(45deg);
      background-color: $white;
      @media all and (min-width: 768px) {
        transform: translate(-50%, -200%) rotate(45deg);
      }
    }

    &__title {
      font-family: $font-title;
      font-size: 1.38rem;
      font-weight: 500;
      line-height: 2.05;
      text-align: center;
      color: $blue-green;
      @media all and (min-width: 768px) {
        padding-top: 0;
      }
    }

    &__text {
      margin-bottom: 30px;
      font-family: $font-paragraph;
      font-size: 1rem;
      line-height: 1.5;
      text-align: center;
      color: $dark-grey;
      @media all and (min-width: 768px) {
        padding: 15px 0 0 0;
        margin-bottom: 0px;
      }
      @media all and (min-width: 1200px) {
        padding: 15px 22px 0 0;
        margin-bottom: 0px;
      }
    }
  }

  .weakness {
    background-color: $back-grey;
    grid-column: 1/2;
    grid-row: 3/4;
    padding: 0 15px 45px 15px;
    @media all and (min-width: 768px) {
      grid-column: 2/3;
      grid-row: 2/3;
      padding: 45px 45px 60px 15px;
    }
    @media all and (min-width: 1200px) {
      padding: 45px 139px 60px 22.5px;
    }

    &__title {
      font-family: $font-title;
      font-size: 1.38rem;
      font-weight: 500;
      line-height: 2.05;
      text-align: center;
      color: $blue-green;
    }

    &__text {
      font-family: $font-paragraph;
      font-size: 1rem;
      line-height: 1.5;
      text-align: center;
      color: $dark-grey;
      @media all and (min-width: 768px) {
        padding: 15px 0 0 0;
      }
      @media all and (min-width: 1200px) {
        padding: 15px 0 0 23px;
      }
    }
  }
  /*}*/
}
