:root {
  --white: white;
  --blue-green: #099d8dff;
  --black: #000000;
  --aqua: #14d9c4;
  --cool-grey: #b8b8b9;
  --dark-grey: #54585a;
  --back-grey: #f1f1f1;
  font-size: 16px;
  font-size: 1rem;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*border: 2px solid green;*/
  text-decoration: none;
}
.full-container {
  width: 100%;
  background-color: var(--white);
}
.link {
  color: white;
}

/* HEADER*/
.header {
  width: 100%;
  height: 60px;
  padding: 15px 80px;
  background: rgba(0, 0, 0, 0.95);
  background-color: var(--blue-green);
}

.nameofgroup {
  width: 100%;
  height: 30px;
  font-family: "Rubik", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
  color: #ffffff;
  margin-left: 15px;
}
.header-list {
  display: inline;
  margin-left: 6px;
  width: 100%;
  height: 30px;
  font-family: "Rubik", sans-serif;
  font-size: 0.9375rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
  color: #ffffff;
}
.headercontent {
  width: 100%;
  height: 45px;
  padding: 8px 17px 7px 16px;
  background: rgba(0, 0, 0, 0.9);
  background-color: var(--aqua);
}

.hero {
  width: 100%;
  height: 130px;
}

.container-img {
  width: 100%;
  height: 306px;
  /*background-image: url("../images/wecancc.png");*/
  background-color: var(--aqua);
}
.img {
  width: 100%;
}

.claim {
  font-size: 0.9375rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  background-color: white;
  width: 100%;
  text-align: center;
  position: relative;
  left: 30px;
  bottom: 25px;
  padding: 15px;
  margin: 0x 15px 0 15px;
}
/* MAIN*/

/* EQUIPO */
.team-container {
  width: 100%;
  padding: 30px 15px 0px 15px;
  margin-top: 210px;
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  justify-content: center;
  align-items: center;
}

.team-title {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 45px;
  letter-spacing: normal;
  text-align: center;
  color: var(--blue-green);
  text-transform: uppercase;
}

.team-text {
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 24px;
  letter-spacing: normal;
  text-align: center;
  color: var(--dark-grey);
}

.team-p2 {
  margin-top: 10px;
}

.team-square {
  box-sizing: border-box;
  width: 29.9px;
  height: 30px;
  transform: rotate(45deg);
  position: relative;
  top: 14.2px;
  background-color: var(--white);
  display: flex;
  justify-content: center;
}
/*FORTALEZAS DEBILIDADES*/

.sw-container {
  width: 100%;
  padding: 30px 15px 45px;
  background-color: var(--back-grey);
}

.sw-title {
  width: 100%;
  font-family: "Rubik", sans-serif;
  font-size: 1.38rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.05;
  letter-spacing: normal;
  text-align: center;
  color: var(--blue-green);
}

.s-text {
  width: 100%;
  margin-bottom: 30px;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: var(--dark-grey);
}
.w-text {
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: var(--dark-grey);
}

/*QUIENES SOMOS*/
.contenedor-quienes-somos {
  width: 193px;
  background-color: white;
}
.quienes-somos {
  display: inline-block;
  width: 220px;
  height: 45px;
  margin: 30px 50px;
  font-family: "Rubik", sans-serif;
  font-size: 24px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: center;
  color: var(--blue-green);
}
.colorlogo {
  color: var(--blue-green);
}
.article {
  margin-left: 15px;
}

.img2 {
  width: 180px;
  height: 180px;
  margin: 0 55px 0;
  border-radius: 4px;
  border: solid 5px rgba(0, 0, 0, 0.08);
}
.title {
  width: 147px;
  height: 45px;
  margin: 1px 60.5px 0 62.5px;
  font-family: "Open Sans", sans-serif;
  font-size: 19px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.25;
  letter-spacing: normal;
  text-align: center;
  color: var(--black);
}
.descripcion {
  display: block;
  width: 284px;
  height: 200px;
  margin: 15px, 0, 15px, 15px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #54585a;
}
.logos {
  display: flex;
  width: 124px;
  height: 30px;
  margin: 15px 58px 0 58px;
  font-family: FontAwesome5Brands;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: center;
  color: var(--blue-green);
  list-style-type: none;
  justify-content: space-between;
  align-items: center;
}

/*footer*/
.footer {
  width: 114px;
  height: 60px;
  margin: 20px -60px 30px;
  opacity: 0.75;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: center;
  color: #54585a;
}

.footer-lista {
  list-style-type: none;
  display: inline-block;
  width: 200px;
  margin: auto;
}
.contenedor-footer {
  width: 320px;
  height: 250px;
  margin-top: 30px;
  padding: 30px 74px 45px;
  border: solid 1px #b8b8b9;
  background-color: #ffffff;
}
.enlace-footer {
  color: #54585a;
}

.container-img-logo {
  width: 115.9px;
  height: 45px;
  margin: 30px 28.1px 0 28px;
}

.img-logo {
  width: 115.9px;
  height: 45px;
  margin-left: 22px;
}
.copyright {
  width: 172px;
  height: 20px;
  margin: 0 0 20px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: center;
  color: #b8b8b9;
}
